@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: inter;
}

body {
	background-color: #12061C;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #9711FE;
	height: 27px;
	width: 100%;
}

header span {
	color: #FFFFFF;
	font-size: 10px;
}

main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main img:first-of-type {
	margin: 40px 0;
}

main h1:first-of-type {
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-weight: 600;
}

main span:first-of-type {
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	margin-top: 20px;
}

main div:first-of-type {
	max-width: 298px;
	width: 100%;
	border-radius: 5px;
	background-color: #D9D9D9;
	height: 165px;
	overflow: hidden;
	margin: 28px 0;
}

main button:first-of-type {
	width: 204px;
	height: 26px;
	background-color: #9711FE;
	color: #FFFFFF;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 8px;
}

main div:last-of-type {
	display: flex;
	gap: 2px;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.verde-claro {
	color: #4EFF31 !important;
}

#conteudo-oculto {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}

#conteudo-oculto p,
#conteudo-oculto span {
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
}

#conteudo-oculto p:first-of-type {
	margin-bottom: 1rem;
}

#conteudo-oculto p:last-of-type {
	margin-top: 2rem;
}

#conteudo-oculto #container-cards {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
	gap: 2rem;
	width: 100%;
}

#conteudo-oculto #container-cards .cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

#conteudo-oculto #container-cards .cards .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#conteudo-oculto #container-cards .cards .card div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 65px;
	height: 65px;
	border-radius: 100%;
	border: 1px solid #9711FE;
}

#conteudo-oculto #quero-acesso {
	width: 204px;
	height: 26px;
	color: #FFFFFF;
	background-color: #1FBC05;
	border: none;
	font-size: 8px;
	border-radius: 5px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer div:last-of-type {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 8rem;
	width: 100%;
	margin-top: 32px;
}

footer div:last-of-type nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 6px;
}

footer div:last-of-type nav h3 {
	color: #D09BF9;
	font-weight: 600;
	font-size: 10px;
}

footer div:last-of-type nav span {
	color: #FFFFFF;
	font-size: 8px;
}

footer p:first-of-type {
	color: #FFFFFF;
	font-size: 8px;
	margin: 67px 0 28px;
}

footer p:last-of-type {
	color: #151515;
	font-size: 8px;
	text-align: center;
}

.d-none {
	display: none;
}

.mt-3 {
	margin-top: 3rem !important;
}

.mb-2 {
	margin-bottom: 2rem !important;
}

.mb-3 {
	margin-bottom: 3rem;
}

.c-carousel {
	margin: 30px 0;
}

.glider-track {
	width: 170px !important;
}

.c-carousel__slide {
	margin: 0 5px !important;
	width: 100px !important;
	height: 110px !important;
	background-color: #D9D9D9 !important;
}

.glider-dot,
.glider-next,
.glider-prev {
	width: 4px !important;
	height: 4px !important;
	background: none !important;
	border: solid .1px #FFFFFF !important;
	margin: 0 1px !important;
}

.glider-dot.active {
	background-color: #9711FE !important;
	width: 6px !important;
	height: 6px !important;
	border: none !important;
}

.glider-dots {
	margin-top: 5px !important;
	align-items: center;
}